VMName=GPUPV
SourcePath=C:\Users\james\Downloads\Win11_English_x64.iso
Edition=6
VhdFormat=VHDX
DiskLayout=UEFI
SizeBytes=40GB
MemoryAmount=8GB
CPUCores=4
NetworkSwitch=Default Switch
VHDPath=C:\Users\Public\Documents\Hyper-V\Virtual Hard Disks\
UnattendPath=$PSScriptRoot+\autounattend.xml
GPUName=AUTO
GPUResourceAllocationPercentage=50
Team_ID=
Key=
Username=GPUVM
Password=CoolestPassword!
Autologon=true